<div class="row">
	 <div class="col-md-3">
	 		<%= book.title %>
	 </div>
	 <div class="col-md-3">
	 		<%= book.author %>
	 </div>
	 <div class="col-md-3">
	 		<%= book.price %>
	 </div>
	 <div>
	 	<%= form_for @order do 	|f| %>
	 		<%= hidden_field_tag(:book_id, book.id) %>
	 		<%= f.submit "Order", class: "btn btn-primary" %>
	 	<% end %>
	 </div>
</div>